<a href="https://colab.research.google.com/github/SoniaSun810/LangChain_Practice/blob/main/Copy_of_LangChain_SQL_Database_Agent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
! pip install langchain openai pymysql --upgrade -q

In [10]:
from secret_key import OpenAI_API_key
import os
os.environ["OPENAI_API_KEY"] = OpenAI_API_key

In [ ]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.llms.openai import OpenAI
from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType
from langchain.chat_models import ChatOpenAI

In [ ]:
db_user = "admin"
db_password = "MSWE-ta-project!"
db_host = "aws-ta-matching.cpxfig1ppqqw.eu-north-1.rds.amazonaws.com"
db_name = "TA_Matching_System"
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

In [ ]:
from langchain.chat_models import ChatOpenAI
llm = ChatOpenAI(model_name = "gpt-3.5-turbo", temperature = 0.5)

In [ ]:
toolkit = SQLDatabaseToolkit(db = db, llm = llm)

In [ ]:
agent_executor = create_sql_agent(
    llm = llm,
    toolkit = toolkit,
    verbose = True
)

**Test of LangChain SQL Agent - Basic Functions**

In [16]:
agent_executor.run("Describe the Table Courses")

> Entering new  chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Courses, Students_basic_info, Students_candidacy
Thought:I can query the "Courses" table to describe its structure.
Action: sql_db_schema
Action Input: "Courses"
Observation:
CREATE TABLE `Courses` (
	id INTEGER NOT NULL AUTO_INCREMENT,
	course_number VARCHAR(255),
	course_name VARCHAR(255),
	course_description TEXT,
	prerequisites TEXT,
	overlaps VARCHAR(255),
	restrictions VARCHAR(255),
	repeatability VARCHAR(255),
	grading_options VARCHAR(255),
	same_as VARCHAR(255),
	roman_numerals VARCHAR(255),
	PRIMARY KEY (id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Courses table:
id	course_number	course_name	course_description	prerequisites	overlaps	restrictions	repeatability	grading_options	same_as	roman_numerals
1	I&C SCI 9	Introduction to Computation for Scientists and Engineers	Introduces principles, techniques, and computational tools for quantitative approach to basic proble	MATH 2A or AP Calculus AB or AP Calculus BC	PHYSICS 2	Lower-division students only	N/A	N/A	PHY SCI 9	(II and (Va or Vb))
2	I&C SCI 32	Programming with Software Libraries	Construction of programs for problems and computing environments more varied than in I&C SCI 31.	I&C SCI 31	N/A	School of Info & Computer Sci students have first consideration for enrollment. Computer Science Eng	N/A	N/A	N/A	(II and (VA or VB))
3	I&C SCI 45J	Programming in Java as a Second Language	An introduction to the lexical, syntactic, semantic, and pragmatic characteristics of the Java langu	I&C SCI 33 or CSE 43	I&C SCI 22, I&C SCI 23, CSE 23	School of Info & Computer Sci students have first consideration for enrollment. Computer Science Eng	N/A	N/A	N/A	N/A
*/
Thought:The Courses table has the following structure:
- id (INTEGER)
- course_number (VARCHAR(255))
- course_name (VARCHAR(255))
- course_description (TEXT)
- prerequisites (TEXT)
- overlaps (VARCHAR(255))
- restrictions (VARCHAR(255))
- repeatability (VARCHAR(255))
- grading_options (VARCHAR(255))
- same_as (VARCHAR(255))
- roman_numerals (VARCHAR(255))

There are 3 sample rows in the Courses table.

Final Answer: The Courses table has the structure mentioned above and contains 3 sample rows.

> Finished chain.

'The Courses table has the structure mentioned above and contains 3 sample rows.'

In [17]:
agent_executor.run("Which course would the student Smith1 be most suitable to be a Teaching Assistant for?")

> Entering new  chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Courses, Students_basic_info, Students_candidacy
Thought:I can query the Courses, Students_basic_info, and Students_candidacy tables to find the answer to the question.
Action: sql_db_schema
Action Input: "Courses, Students_basic_info, Students_candidacy"
Observation:
CREATE TABLE `Courses` (
	id INTEGER NOT NULL AUTO_INCREMENT,
	course_number VARCHAR(255),
	course_name VARCHAR(255),
	course_description TEXT,
	prerequisites TEXT,
	overlaps VARCHAR(255),
	restrictions VARCHAR(255),
	repeatability VARCHAR(255),
	grading_options VARCHAR(255),
	same_as VARCHAR(255),
	roman_numerals VARCHAR(255),
	PRIMARY KEY (id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Courses table:
id	course_number	course_name	course_description	prerequisites	overlaps	restrictions	repeatability	grading_options	same_as	roman_numerals
1	I&C SCI 9	Introduction to Computation for Scientists and Engineers	Introduces principles, techniques, and computational tools for quantitative approach to basic proble	MATH 2A or AP Calculus AB or AP Calculus BC	PHYSICS 2	Lower-division students only	N/A	N/A	PHY SCI 9	(II and (Va or Vb))
2	I&C SCI 32	Programming with Software Libraries	Construction of programs for problems and computing environments more varied than in I&C SCI 31.	I&C SCI 31	N/A	School of Info & Computer Sci students have first consideration for enrollment. Computer Science Eng	N/A	N/A	N/A	(II and (VA or VB))
3	I&C SCI 45J	Programming in Java as a Second Language	An introduction to the lexical, syntactic, semantic, and pragmatic characteristics of the Java langu	I&C SCI 33 or CSE 43	I&C SCI 22, I&C SCI 23, CSE 23	School of Info & Computer Sci students have first consideration for enrollment. Computer Science Eng	N/A	N/A	N/A	N/A
*/


CREATE TABLE `Students_basic_info` (
	id INTEGER NOT NULL AUTO_INCREMENT,
	last_name VARCHAR(255),
	first_name VARCHAR(255),
	uci_net VARCHAR(255),
	email VARCHAR(255),
	phone VARCHAR(15),
	PRIMARY KEY (id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Students_basic_info table:
id	last_name	first_name	uci_net	email	phone
1	Smith1	Joe1	Smith1	Smith1@uci.edu	9495555550
2	Smith2	Joe2	Smith2	Smith2@uci.edu	9495555551
3	Smith3	Joe3	Smith3	Smith3@uci.edu	9495555552
*/


CREATE TABLE `Students_candidacy` (
	id INTEGER NOT NULL AUTO_INCREMENT,
	uci_net VARCHAR(255),
	area_of_expertise TEXT,
	programming TEXT,
	past_experience TEXT,
	past_experience_2 TEXT,
	courses TEXT,
	courses_2 TEXT,
	PRIMARY KEY (id),
	CONSTRAINT `Students_candidacy_ibfk_1` FOREIGN KEY(uci_net) REFERENCES `Students_basic_info` (uci_net)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Students_candidacy table:
id	uci_net	area_of_expertise	programming	past_experience	past_experience_2	courses	courses_2
3	Smith1	I have always considered myself to be an inquisitive and passionate individual who wants to work in 	I have 3+ years of experience in Java and Python programming, as evidenced by working as a software 	None	None	CourseTitleGrWhenCS 295PKEYSTONE PROJ CSA202303CS 273PMACH LRN & DATA MINA+202303CS 261PDATA STRUCTU	CS 295P|KEYSTONE PROJ CS|A|202303^CS 273P|MACH LRN & DATA MIN|A+|202303^CS 261P|DATA STRUCTURES|A|20
4	Smith2	I am really eager to take TA responsibilities in ML/AI courses to strengthen my knowledge in them (I	If I have to rate my experience with programming languages and OSs from 1 to 5, the following list d	CourseTitleInstructorPositionWhenICS 6DBoolean logic & Discrete structuresIrene GasskoReader2022-spr	ICS 6d|Boolean logic & Discrete structures|Irene Gassko|Reader|2022-spring|ICS 31|Intro to Python Pr	CourseTitleGrWhenICS 399UNIVERSITY TEACHINGS202303CS 274APROB LEARNINGA202303CS 230DIST COMPUTER SYS	ICS 399|UNIVERSITY TEACHING|S|202303^CS 274A|PROB LEARNING|A|202303^CS 230|DIST COMPUTER SYS|A|20230
*/
Thought:To find the course that the student Smith1 would be most suitable to be a Teaching Assistant for, I need to look at the Students_candidacy table and find the courses that Smith1 has experience in.

Action: sql_db_query
Action Input: "SELECT courses FROM Students_candidacy WHERE uci_net = 'Smith1'"
Observation: [('CourseTitleGrWhenCS\xa0295PKEYSTONE PROJ CSA202303CS\xa0273PMACH LRN & DATA MINA+202303CS\xa0261PDATA STRUCTURESA202303CS\xa0271PARTIFICIAL INTELLIGA202292CS\xa0260PALGORITHMSA202292CS\xa0253PADV PROG PROB SOLVA+202292',)]
Thought:The student Smith1 is most suitable to be a Teaching Assistant for the course "Keystone Project" (CS 295P) with the instructor "A+" in the quarter "202303".

Final Answer: CS 295P Keystone Project with instructor A+ in the quarter 202303.

> Finished chain.

'CS 295P Keystone Project with instructor A+ in the quarter 202303.'

In [18]:
agent_executor.run("Which course in the Courses Table would the student Smith1 be most suitable to be a Teaching Assistant for?")

> Entering new  chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Courses, Students_basic_info, Students_candidacy
Thought:I should query the schema for the Courses table to see what columns it has that might be relevant to the question.
Action: sql_db_schema
Action Input: "Courses"
Observation:
CREATE TABLE `Courses` (
	id INTEGER NOT NULL AUTO_INCREMENT,
	course_number VARCHAR(255),
	course_name VARCHAR(255),
	course_description TEXT,
	prerequisites TEXT,
	overlaps VARCHAR(255),
	restrictions VARCHAR(255),
	repeatability VARCHAR(255),
	grading_options VARCHAR(255),
	same_as VARCHAR(255),
	roman_numerals VARCHAR(255),
	PRIMARY KEY (id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Courses table:
id	course_number	course_name	course_description	prerequisites	overlaps	restrictions	repeatability	grading_options	same_as	roman_numerals
1	I&C SCI 9	Introduction to Computation for Scientists and Engineers	Introduces principles, techniques, and computational tools for quantitative approach to basic proble	MATH 2A or AP Calculus AB or AP Calculus BC	PHYSICS 2	Lower-division students only	N/A	N/A	PHY SCI 9	(II and (Va or Vb))
2	I&C SCI 32	Programming with Software Libraries	Construction of programs for problems and computing environments more varied than in I&C SCI 31.	I&C SCI 31	N/A	School of Info & Computer Sci students have first consideration for enrollment. Computer Science Eng	N/A	N/A	N/A	(II and (VA or VB))
3	I&C SCI 45J	Programming in Java as a Second Language	An introduction to the lexical, syntactic, semantic, and pragmatic characteristics of the Java langu	I&C SCI 33 or CSE 43	I&C SCI 22, I&C SCI 23, CSE 23	School of Info & Computer Sci students have first consideration for enrollment. Computer Science Eng	N/A	N/A	N/A	N/A
*/
Thought:I should query the Courses table to find the course that the student Smith1 would be most suitable to be a Teaching Assistant for. I can look for the course number, course name, and course description.
Action: sql_db_query
Action Input: "SELECT course_number, course_name, course_description FROM Courses WHERE course_number IN (SELECT course_number FROM Students_candidacy WHERE student_name = 'Smith1') LIMIT 10"
Observation: Error: (pymysql.err.OperationalError) (1054, "Unknown column 'student_name' in 'where clause'")
[SQL: SELECT course_number, course_name, course_description FROM Courses WHERE course_number IN (SELECT course_number FROM Students_candidacy WHERE student_name = 'Smith1') LIMIT 10]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Thought:The query returned an error because the column "student_name" does not exist in the table "Students_candidacy". I need to check the schema of the "Students_candidacy" table to find the correct column name.
Action: sql_db_schema
Action Input: "Students_candidacy"
Observation:
CREATE TABLE `Students_candidacy` (
	id INTEGER NOT NULL AUTO_INCREMENT,
	uci_net VARCHAR(255),
	area_of_expertise TEXT,
	programming TEXT,
	past_experience TEXT,
	past_experience_2 TEXT,
	courses TEXT,
	courses_2 TEXT,
	PRIMARY KEY (id),
	CONSTRAINT `Students_candidacy_ibfk_1` FOREIGN KEY(uci_net) REFERENCES `Students_basic_info` (uci_net)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Students_candidacy table:
id	uci_net	area_of_expertise	programming	past_experience	past_experience_2	courses	courses_2
3	Smith1	I have always considered myself to be an inquisitive and passionate individual who wants to work in 	I have 3+ years of experience in Java and Python programming, as evidenced by working as a software 	None	None	CourseTitleGrWhenCS 295PKEYSTONE PROJ CSA202303CS 273PMACH LRN & DATA MINA+202303CS 261PDATA STRUCTU	CS 295P|KEYSTONE PROJ CS|A|202303^CS 273P|MACH LRN & DATA MIN|A+|202303^CS 261P|DATA STRUCTURES|A|20
4	Smith2	I am really eager to take TA responsibilities in ML/AI courses to strengthen my knowledge in them (I	If I have to rate my experience with programming languages and OSs from 1 to 5, the following list d	CourseTitleInstructorPositionWhenICS 6DBoolean logic & Discrete structuresIrene GasskoReader2022-spr	ICS 6d|Boolean logic & Discrete structures|Irene Gassko|Reader|2022-spring|ICS 31|Intro to Python Pr	CourseTitleGrWhenICS 399UNIVERSITY TEACHINGS202303CS 274APROB LEARNINGA202303CS 230DIST COMPUTER SYS	ICS 399|UNIVERSITY TEACHING|S|202303^CS 274A|PROB LEARNING|A|202303^CS 230|DIST COMPUTER SYS|A|20230
*/
Thought:The column I need to use in the query is "uci_net" instead of "student_name". I should now rewrite the query with the correct column name.
Action: sql_db_query
Action Input: "SELECT course_number, course_name, course_description FROM Courses WHERE course_number IN (SELECT courses FROM Students_candidacy WHERE uci_net = 'Smith1') LIMIT 10"
Observation: []
Thought:The query returned an empty result. This means that there are no courses in the Courses table that the student Smith1 is eligible to be a Teaching Assistant for.
Final Answer: There are no courses in the Courses Table that the student Smith1 would be suitable to be a Teaching Assistant for.

> Finished chain.

'There are no courses in the Courses Table that the student Smith1 would be suitable to be a Teaching Assistant for.'

**Tutorial, Langchain Beginner - Other Tools might be useful**

---


1. promptTemplate

In [20]:
from langchain.prompts import PromptTemplate
prompt_template_name = PromptTemplate(
    input_variables = ['course_number'],
    template = "In Students Table, which student is a better teaching assistant candidate for {course_number}?"
)
prompt_template_name.format(course_number = "I&C SCI 45J")

'In Students Table, which student is a better teaching assistant candidate for I&C SCI 45J?'

2. LLMChain

In [24]:
from langchain.chains import LLMChain

student_name_chain = LLMChain(llm = llm, prompt = prompt_template_name)

student_name_chain.run("I&C SCI 45J")

'To determine the best teaching assistant candidate for I&C SCI 45J from the Students Table, we need more information about the criteria for a good teaching assistant candidate. The Students Table likely contains information such as student names, majors, GPA, previous teaching experience, and relevant coursework. Without this information, it is not possible to identify a specific student as the best candidate.'

In [22]:
from langchain.schema import prompt
agent_executor = create_sql_agent(
    llm = llm,
    toolkit = toolkit,
    verbose = True,
    prompt = prompt_template_name
)

agent_executor.run("I&C SCI 45J")

> Entering new  chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Courses, Students_basic_info, Students_candidacy
Thought:I see three tables in the database: Courses, Students_basic_info, and Students_candidacy. I should query the schema of these tables to see if any of them contain information related to I&C SCI 45J.
Action: sql_db_schema
Action Input: "Courses, Students_basic_info, Students_candidacy"
Observation:
CREATE TABLE `Courses` (
	id INTEGER NOT NULL AUTO_INCREMENT,
	course_number VARCHAR(255),
	course_name VARCHAR(255),
	course_description TEXT,
	prerequisites TEXT,
	overlaps VARCHAR(255),
	restrictions VARCHAR(255),
	repeatability VARCHAR(255),
	grading_options VARCHAR(255),
	same_as VARCHAR(255),
	roman_numerals VARCHAR(255),
	PRIMARY KEY (id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Courses table:
id	course_number	course_name	course_description	prerequisites	overlaps	restrictions	repeatability	grading_options	same_as	roman_numerals
1	I&C SCI 9	Introduction to Computation for Scientists and Engineers	Introduces principles, techniques, and computational tools for quantitative approach to basic proble	MATH 2A or AP Calculus AB or AP Calculus BC	PHYSICS 2	Lower-division students only	N/A	N/A	PHY SCI 9	(II and (Va or Vb))
2	I&C SCI 32	Programming with Software Libraries	Construction of programs for problems and computing environments more varied than in I&C SCI 31.	I&C SCI 31	N/A	School of Info & Computer Sci students have first consideration for enrollment. Computer Science Eng	N/A	N/A	N/A	(II and (VA or VB))
3	I&C SCI 45J	Programming in Java as a Second Language	An introduction to the lexical, syntactic, semantic, and pragmatic characteristics of the Java langu	I&C SCI 33 or CSE 43	I&C SCI 22, I&C SCI 23, CSE 23	School of Info & Computer Sci students have first consideration for enrollment. Computer Science Eng	N/A	N/A	N/A	N/A
*/


CREATE TABLE `Students_basic_info` (
	id INTEGER NOT NULL AUTO_INCREMENT,
	last_name VARCHAR(255),
	first_name VARCHAR(255),
	uci_net VARCHAR(255),
	email VARCHAR(255),
	phone VARCHAR(15),
	PRIMARY KEY (id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Students_basic_info table:
id	last_name	first_name	uci_net	email	phone
1	Smith1	Joe1	Smith1	Smith1@uci.edu	9495555550
2	Smith2	Joe2	Smith2	Smith2@uci.edu	9495555551
3	Smith3	Joe3	Smith3	Smith3@uci.edu	9495555552
*/


CREATE TABLE `Students_candidacy` (
	id INTEGER NOT NULL AUTO_INCREMENT,
	uci_net VARCHAR(255),
	area_of_expertise TEXT,
	programming TEXT,
	past_experience TEXT,
	past_experience_2 TEXT,
	courses TEXT,
	courses_2 TEXT,
	PRIMARY KEY (id),
	CONSTRAINT `Students_candidacy_ibfk_1` FOREIGN KEY(uci_net) REFERENCES `Students_basic_info` (uci_net)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Students_candidacy table:
id	uci_net	area_of_expertise	programming	past_experience	past_experience_2	courses	courses_2
3	Smith1	I have always considered myself to be an inquisitive and passionate individual who wants to work in 	I have 3+ years of experience in Java and Python programming, as evidenced by working as a software 	None	None	CourseTitleGrWhenCS 295PKEYSTONE PROJ CSA202303CS 273PMACH LRN & DATA MINA+202303CS 261PDATA STRUCTU	CS 295P|KEYSTONE PROJ CS|A|202303^CS 273P|MACH LRN & DATA MIN|A+|202303^CS 261P|DATA STRUCTURES|A|20
4	Smith2	I am really eager to take TA responsibilities in ML/AI courses to strengthen my knowledge in them (I	If I have to rate my experience with programming languages and OSs from 1 to 5, the following list d	CourseTitleInstructorPositionWhenICS 6DBoolean logic & Discrete structuresIrene GasskoReader2022-spr	ICS 6d|Boolean logic & Discrete structures|Irene Gassko|Reader|2022-spring|ICS 31|Intro to Python Pr	CourseTitleGrWhenICS 399UNIVERSITY TEACHINGS202303CS 274APROB LEARNINGA202303CS 230DIST COMPUTER SYS	ICS 399|UNIVERSITY TEACHING|S|202303^CS 274A|PROB LEARNING|A|202303^CS 230|DIST COMPUTER SYS|A|20230
*/
Thought:I can see that the table "Courses" contains information about different courses, including course numbers and names. I should query this table to find information about I&C SCI 45J.
Action: sql_db_query
Action Input: "SELECT course_number, course_name, course_description FROM Courses WHERE course_number = 'I&C SCI 45J'"
Observation: [('I&C SCI 45J', 'Programming in Java as a Second Language', 'An introduction to the lexical, syntactic, semantic, and pragmatic characteristics of the Java language for experienced programmers.')]
Thought:I know the final answer.
Final Answer: The course "I&C SCI 45J" is called "Programming in Java as a Second Language". It is an introduction to the lexical, syntactic, semantic, and pragmatic characteristics of the Java language for experienced programmers.

> Finished chain.

'The course "I&C SCI 45J" is called "Programming in Java as a Second Language". It is an introduction to the lexical, syntactic, semantic, and pragmatic characteristics of the Java language for experienced programmers.'

3. Sequential Chain

In [27]:
from langchain.chains import SimpleSequentialChain

prompt_template_student_background = PromptTemplate(
    input_variables = ['student_name'],
    template = "According to Students Table, summarize the backgound of {student_name}?"
)

student_background_chain = LLMChain(llm = llm, prompt = prompt_template_student_background)

chain = SimpleSequentialChain(chains = [student_name_chain, student_background_chain])
response = chain.run("I&C SCI 45J")
print(response)

The background of the Students Table is not provided in the given information. Without knowing the specific attributes and skills of each student in the table, it is not possible to determine a better teaching assistant candidate for I&C SCI 45J.

4. Sequential Chain

In [28]:
prompt_template_name = PromptTemplate(
    input_variables = ['course_number'],
    template = "In Students Table, which student is a better teaching assistant candidate for {course_number}?"
)

student_name_chain = LLMChain(llm = llm, prompt = prompt_template_name, output_key="student_name")

prompt_template_student_background = PromptTemplate(
    input_variables = ['student_name'],
    template = "According to Students Table, summarize the backgound of {student_name}?"
)

student_background_chain = LLMChain(llm = llm, prompt = prompt_template_student_background, output_key = "student_background")

In [ ]:
from langchain.chains import SequentialChain

SequentialChain(
    chains = [student_name_chain, student_background_chain],
    input_variables= ["course_number"],
    output_variables= ['student_name', 'student_background']
)

chain({'course_number' : "I&C SCI 45J"})